<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="willemw12.downloadlink"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- For checking the WiFi connection state -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- For locking the WiFi radio -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/screen_main_title"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!-- "Share" / "Send to" action -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />
                <!--
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                -->
                <!-- <data android:mimeType="text/plain" /> -->
                <data android:mimeType="*/*" />
            </intent-filter>
            <!-- "Share" / "Send to" action -->
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />

                <category android:name="android.intent.category.DEFAULT" />
                <!--
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                -->
                <!-- <data android:mimeType="text/plain" /> -->
                <data android:mimeType="*/*" />
            </intent-filter>
            <!-- "Open with" action -->
            <!--
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="*" />
            -->
                <!-- <data android:pathPattern=".*\\.txt" /> -->

                <!-- <data android:mimeType="text/plain" /> -->
                <!-- <data android:mimeType="*/*" /> -->
            <!--
            </intent-filter>
            -->
            <!-- "App Shortcut" action -->
            <!--
            <intent-filter>
                <action android:name="willemw12.intent.action.APP_SHORTCUT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            -->
            <meta-data android:name="android.app.shortcuts"
                       android:resource="@xml/shortcuts" />
        </activity>
        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/screen_settings_title"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.AboutActivity"
            android:label="@string/screen_about_title"
            android:theme="@style/AppTheme.NoActionBar" />
        <service
            android:name=".service.DownloadService"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>
